@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

/* * {
    scroll-margin-top: 100px;
} */

@theme {
    --site-max-width: 3000px;
    --row-factor: 0.0215;
    --site-gutter: 6vw;
}

:root {
    --primary: #ece6e0;
    --secondary: #e7dace;
    --accent: #2c3e50;

    --heading-1-size-value: 4.5;
    --heading-2-size-value: 3;
    --normal-text-size-value: 1.2;

    --site-title-font-font-size-value: 2;
    --title-font: calc(
        (var(--site-title-font-font-size-value) - 1) * 1.2vw + 1rem
    );

    --heading: calc((4.5 - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
}

:focus {
    outline: none;
}

:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
}

h1 {
    font-size: calc(
        (var(--heading-1-size-value) - 1) * calc(0.012 * min(100vh, 900px)) +
            1rem
    );
    font-weight: 500;
}

h2 {
    font-size: calc(
        (var(--heading-2-size-value) - 1) * calc(0.012 * min(100vh, 900px)) +
            1rem
    );
    font-weight: 500;
}

p {
    font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1rem);
}

body {
    background: var(--primary);
}

@media (width < 768px) {
    :root {
        --site-gutter: 3.75vw;
    }

    h1 {
        font-size: calc((var(--heading-1-size-value) - 1) * 1.2vw + 1rem);
    }

    h2 {
        font-size: calc((var(--heading-2-size-value) - 1) * 1.2vw + 1rem);
    }

    p {
        font-size: calc(
            (var(--normal-text-size-value) - 1) *
                calc(0.012 * min(100vh, 900px)) + 1rem
        );
    }
}

@layer utilities {
    .grid-sqs {
        overflow-x: clip;
        position: relative;
        display: grid;
        --inset-padding: 0px;
        --col-gap-offset: 11px;
        --row-gap-offset: 11px;

        --row-height: 24px;

        column-gap: var(--col-gap-offset);
        row-gap: var(--row-gap-offset);

        --grid-gutter: calc(var(--site-gutter) - var(--col-gap-offset));

        --container-width: min(
            var(--site-max-width),
            calc(100vw - (var(--site-gutter) * 2 - (var(--inset-padding))))
        );

        --cell-max-width: calc(
            (
                    var(--site-max-width) -
                        (var(--col-gap-offset) * (var(--grid-cols) - 1))
                ) /
                var(--grid-cols)
        );

        /* Grid Templates */
        grid-template-columns:
            minmax(var(--grid-gutter), 1fr)
            repeat(var(--grid-cols, 10), minmax(0, var(--cell-max-width)))
            minmax(var(--grid-gutter), 1fr);

        grid-template-rows: repeat(
            var(--grid-rows, 10),
            minmax(var(--row-height), auto)
        );
    }

    .grid-flush {
        --col-gap-offset: 0px;
    }

    /* Scaling Rows for Tablet/Desktop */
    @media (min-width: 768px) {
        .grid-sqs {
            --row-height: calc(var(--container-width) * var(--row-factor));
        }
    }
}

@theme {
    --grid-cols-layout: minmax(var(--grid-gutter), 1fr)
        repeat(8, minmax(0, var(--cell-max-width)))
        minmax(var(--grid-gutter), 1fr);

    --gap-grid: var(--grid-gap);
    --max-w-cell: var(--cell-max-width);
}

@theme {
    --animate-pan: pan 10s linear infinite;

    @keyframes pan {
        0%,
        100% {
            transform: translateX(-50%);
        }
        50% {
            transform: translateX(0%);
        }
    }
}

@theme {
    --breakpoint-tablet: 576px;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-gopher);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    /* :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    } */
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-gopher), Arial, Helvetica, sans-serif;
}
