@import "tailwindcss";

:root {
    --primary: #f5f1ed;
    --secondary: #dbc9b8;
    --accent: #2c3e50;

    --site-title-font-font-size-value: 2;
    --title-font: calc(
        (var(--site-title-font-font-size-value) - 1) * 1.2vw + 1rem
    );

    --heading: calc((4.5 - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
}

body {
    background: var(--primary);
}

.hero-grid {
    --grid-gap: 11px;
    --site-gutter: 6vw;
    --site-max-width: 3000px;

    --container-width: min(
        var(--site-max-width),
        calc(100vw - var(--site-gutter) * 2)
    );

    --grid-gutter: calc(var(--site-gutter) - var(--grid-gap));

    --cell-max-width: calc(
        (var(--site-max-width) - (var(--grid-gap) * (8 - 1))) / 8
    );

    display: grid;
    grid-template-columns:
        minmax(var(--grid-gutter), 1fr)
        repeat(8, minmax(0, var(--cell-max-width)))
        minmax(var(--grid-gutter), 1fr);

    grid-template-rows: repeat(20, minmax(24px, auto));
    column-gap: var(--grid-gap);
    row-gap: var(--grid-gap);

    overflow-x: clip;
}

.section-grid {
    --grid-gap: 0px;
    --site-gutter: 6vw;
    --site-max-width: 3000px;

    --container-width: min(
        var(--site-max-width),
        calc(100vw - var(--site-gutter) * 2)
    );

    --grid-gutter: calc(var(--site-gutter) - var(--grid-gap));

    --cell-max-width: calc(
        (var(--site-max-width) - (var(--grid-gap) * (8 - 1))) / 8
    );
    --site-title-font-font-size-value: 2;

    display: grid;
    grid-template-columns:
        minmax(var(--grid-gutter), 1fr)
        repeat(8, minmax(0, var(--cell-max-width)))
        minmax(var(--grid-gutter), 1fr);

    grid-template-rows: repeat(22, minmax(24px, auto));
    column-gap: var(--grid-gap);
    row-gap: 11px;

    overflow-x: clip;
}

@media (min-width: 768px) {
    .hero-grid {
        --site-gutter: 3.75vw;

        --grid-gutter: calc(var(--site-gutter) - var(--grid-gap));

        --cell-max-width: calc(
            (var(--site-max-width) - (var(--grid-gap) * (24 - 1))) / 24
        );

        grid-template-columns:
            minmax(var(--grid-gutter), 1fr)
            repeat(24, minmax(0, var(--cell-max-width)))
            minmax(var(--grid-gutter), 1fr);

        grid-template-rows: repeat(
            22,
            minmax(calc(var(--container-width) * 0.0215), auto)
        );
    }

    .section-grid {
        --site-gutter: 3.75vw;

        --row-height-scaling-factor: 0.0215;

        --container-width: min(
            var(--site-max-width),
            calc(100vw - var(--site-gutter) * 2)
        );

        --grid-gutter: calc(var(--site-gutter) - var(--grid-gap));

        --cell-max-width: calc(
            (var(--site-max-width) - (var(--grid-gap) * (8 - 1))) / 8
        );

        display: grid;
        grid-template-columns:
            minmax(var(--grid-gutter), 1fr)
            repeat(24, minmax(0, var(--cell-max-width)))
            minmax(var(--grid-gutter), 1fr);

        grid-template-rows: repeat(
            17,
            minmax(
                calc(var(--container-width) * var(--row-height-scaling-factor)),
                auto
            )
        );

        overflow-x: clip;
    }
}

@theme {
    --grid-cols-layout: minmax(var(--grid-gutter), 1fr)
        repeat(8, minmax(0, var(--cell-max-width)))
        minmax(var(--grid-gutter), 1fr);

    --gap-grid: var(--grid-gap);
    --max-w-cell: var(--cell-max-width);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-gopher);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    /* :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    } */
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-gopher), Arial, Helvetica, sans-serif;
}
